.post-list-container {
    >form {
        margin-bottom: 15px;
        padding : 20px;
    }
    .post-item-container {
        margin-bottom: 30px;
        border-bottom: 1px solid #d9d9d9;
        padding: 20px;
    }
    .post-icon {
      padding-left : 20px;
    }
    .post-icon-text {
      padding-right : 10px;
    }
    .comment_inner{
      width: 95%;
      word-break: break-all;
      text-overflow: ellipsis;
      display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
      -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
      -webkit-line-clamp: 3; /** 显示的行数 **/
      overflow: hidden;  /** 隐藏超出的内容 **/
      color: rgba(0,0,0,.54);
      font-size: 1rem;
    }
}
