<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <div class="mdl-layout__header-row site-logo-row">
    <span class="mdl-layout__title">
      <div class="site-logo"></div>
      <span class="site-description">Lucy Li - Full Stack Engineer</span>
    </span>
  </div>
  <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a *ngFor="let item of menuItems" [routerLink]="item.link" class="mdl-navigation__link" routerLinkActive="router-link-active" href="">{{item.caption}}</a>
      </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <a *ngFor="let item of menuItems" [routerLink]="item.link" class="mdl-navigation__link" routerLinkActive="router-link-active" href="">{{item.caption}}</a>
  </nav>
</div>
