<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
<a routerLink="/contact" id="contact-button" class="mdl-button mdl-button--fab mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast mdl-shadow--4dp">
  <i class="material-icons">mail</i>
</a>
<app-nav></app-nav>
<main class="mdl-layout__content">
    <section>
     <div class="page-content">
       <router-outlet></router-outlet>
     </div>
    </section>
    <footer class="mdl-mini-footer">
        <div class="footer-container">
            <div class="mdl-logo">&copy; LYZ. Design: <a target="_blank">Lucy Li Portfolio Demo</a></div>
            <ul class="mdl-mini-footer__link-list">
                <li><a href="#">Privacy & Terms</a></li>
            </ul>
        </div>
    </footer>
</main>
</div>
