.mdl-card {
  .card_title_link {
    color: inherit;
    display: block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    overflow: hidden;
    -webkit-transform-origin: 149px 48px;
    transform-origin: 149px 48px;
    margin: 0;
  },
  .mdl-card__supporting-text {
    .product-icon {
      padding-right: 10px;
    }
  }
}
